{% extends 'document.html.twig' %}
{% block title %}
  Create comment
{% endblock %}
{% block body %}
  <h1 class="text-center">Create comment</h1>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
