<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% block home_link %}
            <li class="breadcrumb-item">
                <a href="{{ path('index') }}">Home</a>
            </li>
        {% endblock %}
        {% block catalog_link %}
            <li class="breadcrumb-item">
                <a href="{{ path('blog') }}">Catalog</a>
            </li>
        {% endblock %}
        {% block item_link %}
            <li class="breadcrumb-item active" aria-current="page">
                <span>Item name</span>
            </li>
        {% endblock %}
    </ol>
</nav>
