<div class="row pb-4 align-items-center">
    <div class="col-md-5">
        {% block left %}
            left box default content
        {% endblock %}
    </div>
    <div class="col-md-7">
        {% block right %}
            right box default content
        {% endblock %}
    </div>
</div>
