<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img style="width: 100%; height: auto;" src="{{ asset(lead.img) }}">
        </div>
        <div class="col-md-8">
            <p class="lead">{{- lead.text|description(lead.text) -}}</p>
            <span class="published float-right text-secondary">{{ lead.published_at|date("d/m/Y") }}</span>
        </div>
    </div>
    <hr class="my-4">
    <p class="lead text-right">
        <a class="btn btn-primary btn-lg" href="{{- path('article', {slug: lead.slug}) -}}" role="button"> Read</a>
    </p>
</div>
