{% extends 'base.html.twig' %}
{% block title %} Articles {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><span>Blog</span></li>
        </ol>
    </nav>
    <h1 class="text-center">Simple blog</h1>
    {% if articles %}
    <div class="articles">
        {% include 'post/lead.html.twig' with {'lead' : lead} only %}
        <div class="row">
        {% for key,article in articles %}
            <div class="col">
                {{ render(url('item', { slug: key })) }}
            </div>
            {% if loop.index % 2 == 0 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

