{% extends 'document.html.twig' %}
{% block title %} Articles {% endblock %}

{% block body %}
    {% embed "post/layouts/_breadcrumb.html.twig" ignore missing %}
        {% block home_link %}
        {% endblock %}

        {% block catalog_link %}
        {% endblock %}

        {% block item_link %}
            <li class="breadcrumb-item active" aria-current="page">
                <span>Blog</span>
            </li>
        {% endblock %}
    {% endembed %}

    <h1 class="text-center">Simple blog</h1>
    {% if articles is defined %}
        <div class="articles">
            {% include 'post/_lead.html.twig' with {'lead' : lead} only %}
            <div class="row">
                {% include 'post/layouts/_catalog-grid.html.twig' with {'articles' : articles} only %}
            </div>
        </div>
    {% else %}
        <p class="text-center">{{ message }}</p>
    {% endif %}
{% endblock %}

{% block footer %}
    <hr class="my-4">
    {{ parent() }}
{% endblock %}
